doctype html
html
	head
		include /head/head.pug
	body
		.base
			.wrap.wrap_ident_mainLeft
				.wrap__el.wrap__el_offset
					.block
						.block__el
							.preview
								.preview__el.preview__el_type_image
									.image
										.image__stroke
											.image__background
												img.image__picture(src=require("../images/myLogo.png"))
								.preview__el.preview__el_type_text-block.preview__el_last(style="margin-bottom: 7.5%")
									em.preview__text.preview__text_type_name Evgeniy
									em.preview__text.preview__text_type_surname Miller
									em.preview__text.preview__text_type_career noname
				.wrap__el.wrap__el_offset
					.block
						.block__header
							.block__icon.image
								.image__stroke
									.image__background
										img.image__picture(src=require("../images/myLogo.png"))
							h1.block__title profile
							.block__decorLine
						.block__el
							p.p
								| Привет. Это должен быть блок с простым текстом.. Ну, раз уж разрешили писать про себя, то почему бы и не воспользоваться возможностью, правильно?
								br
								| Итак... Евгеша, 17 годиков, Северск. Учусь в 11 классе, веду никому не нужный канал на YouTube, периодически рисую, читаю, часто лезу в графику, иногда в 3D и так далее.. Всё как обычно. Хочу в Канаду.
								br
								b С фронтендом познакомился, когда решил сделать сайт для канала (года 2-3 назад). Активно влез сюда относительно недавно. Пока сижу на уровне джуна.
								br
								|
								| Если вкратце, то всё.
				.wrap__el.wrap__el_offset
					.block
						.block__header
							.block__icon.image
								.image__stroke
									.image__background
										img.image__picture(src=require("../images/myLogo.png"))
							h1.block__title contact
							.block__decorLine
						.block__el
							.contacts
								.contacts__el.contacts__el_first(style="margin-top: 4.5rem")
									em.contacts__key Adress
									.contacts__value 
										em.em.em_style_normal Kalinina, Seversk
								.contacts__el
									em.contacts__key email
									.contacts__value 
										em.em.em_style_normal karabin.m@yandex.ru
								.contacts__el
									em.contacts__key phone
									.contacts__value 
										em.em.em_style_normal +7-952-153-84-08
								.contacts__el
									em.contacts__key website
									.contacts__value 
										em.em.em_style_normal development paused
				.wrap__el.wrap__el_offset
					.block
						.block__header
							.block__icon.image
								.image__stroke
									.image__background
										img.image__picture(src=require("../images/myLogo.png"))
							h1.block__title skills
							.block__decorLine
						.block__el
							.rate.rate_type_dotted
								.rate__el.rate__el_type_dotted
									h2.rate__title creative
									.rate__field.rate__field_type_dotted
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
								.rate__el.rate__el_type_dotted
									h2.rate__title teamwork
									.rate__field.rate__field_type_dotted
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
								.rate__el.rate__el_type_dotted
									h2.rate__title innovate
									.rate__field.rate__field_type_dotted
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
								.rate__el.rate__el_type_dotted
									h2.rate__title communication
									.rate__field.rate__field_type_dotted
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_lightblue
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray
										.rate__value.rate__value_type_dotted.rate__value_color_gray

			.wrap.wrap_ident_mainRight
				.wrap__el.wrap__el_offset
					.block
						.block__header
							.block__icon.image
								.image__stroke
									.image__background
										img.image__picture(src=require("../images/myLogo.png"))
							h1.block__title education
							.block__decorLine
						.block__el
							ul.list
								li.list__el
									.list__header
										h2.list__majorTitle.list__majorTitle_color_lightblue 1 to 5 classes
										em.list__date Sep 2007 - May 2012
										em.list__minorTitle 25 School
									.list__content
										p.p
											| Вышки нет, поэтому будет то, что есть. 1 - 5 классы, первая школа, учился здесь пока жил ещё в томске.
								li.list__el
									.list__header
										h2.list__majorTitle.list__majorTitle_color_lightblue 6 to 9 classes
										em.list__date Sep 2012 - May 2017
										em.list__minorTitle 81 School
									.list__content
										p.p
											| Среднее неполное образование, жил уже в Северске.
								li.list__el
									.list__header
										h2.list__majorTitle.list__majorTitle_color_lightblue 10 to 11 classes
										em.list__date Sep 2017 - Now
										em.list__minorTitle 81 School
									.list__content
										p.p
											| Последний рывок, последние два класса в физмат профиле до полного среднего.
				.wrap__el.wrap__el_offset
					.block
						.block__header
							.block__icon.image
								.image__stroke
									.image__background
										img.image__picture(src=require("../images/myLogo.png"))
							h1.block__title experience
							.block__decorLine
						.block__el
							ul.list
								li.list__el
									.list__header
										h2.list__majorTitle lKl official
										em.list__date Oct 2014 - Aug 2018
										em.list__minorTitle Hokage
									.list__content
										p.p
											| Опять же - я ещё нигде не работал, так что будут хобби-проекты. lKl - Mr&nbsplKlAlRlAlBlIlNl - преимущественно YouTube проект, на котором я выпускал видосики по играм, пробовал делать переводы и т.п.. Именнно этот проект сподвигнул меня познакомиться с Frontend'м.  
								li.list__el
									.list__header
										h2.list__majorTitle White Gloom
										em.list__date Aug 2018 - Now
										em.list__minorTitle Ataman
									.list__content
										p.p
											| Mr lKlAlRlAlBlIlNl морально устарел, и на смену ему пришёл новый проект - White&nbspGloom. Проект отличается начинкой и целевой аудиторией - проект полностью отдан творчеству и хобби. Для проекта также разрабатывается сайт, но сейчас разработка на паузе (в угоду курсу).
				.wrap__el.wrap__el_offset
					.block
						.block__header
							.block__icon.image
								.image__stroke
									.image__background
										img.image__picture(src=require("../images/myLogo.png"))
							h1.block__title experience
							.block__decorLine
						.block__el
							.splitter
								.wrap.wrap_ident_rate
									.wrap__el
										.rate.rate__type_linear
											.rate__el.rate__el_type_linear
												h2.rate__title photoshop
												.rate__field.rate__field_type_linear
													.rate__value.rate__value_type_linear.rate__value_color_lightblue(style="width: 90%")
											.rate__el.rate__el_type_linear
												h2.rate__title illustrator
												.rate__field.rate__field_type_linear
													.rate__value.rate__value_type_linear.rate__value_color_lightblue(style="width: 20%")
											.rate__el.rate__el_type_linear
												h2.rate__title indesign
												.rate__field.rate__field_type_linear
													.rate__value.rate__value_type_linear.rate__value_color_lightblue(style="width: 0%")
								.wrap.wrap_ident_rate
									.wrap__el
										.rate.rate__type_linear
											.rate__el.rate__el_type_linear
												h2.rate__title dreamweaver
												.rate__field.rate__field_type_linear
													.rate__value.rate__value_type_linear.rate__value_color_lightblue(style="width: 20%")
											.rate__el.rate__el_type_linear
												h2.rate__title after effects
												.rate__field.rate__field_type_linear
													.rate__value.rate__value_type_linear.rate__value_color_lightblue(style="width: 75%")
											.rate__el.rate__el_type_linear
												h2.rate__title html&css3
												.rate__field.rate__field_type_linear
													.rate__value.rate__value_type_linear.rate__value_color_lightblue(style="width: 80%")