doctype html
html
	head
		include /head/head.pug
	body
		.base
			.wrap.wrap_width_36-8per
				.block.block_first(style="margin-top: 0")
					.block__el
						.preview
							.preview__el.preview__el_type_image
								.image
									.image__stroke
										.image__background
											img.image__picture(src=require("../images/myLogo.png"))
							.preview__el.preview__el_type_text-block.preview__el_last(style="margin-bottom: 7.5%")
								em.preview__text.preview__text_type_name Evgeniy
								em.preview__text.preview__text_type_surname Miller
								em.preview__text.preview__text_type_career noname
				.block
					.block__header
						.block__icon.image
							.image__stroke
								.image__background
									img.image__picture(src=require("../images/myLogo.png"))
						h1.h1.block__title profile
						.block__decorLine
					.block__el
						p.p
							| Привет. Это должен быть блок с простым текстом... Ну, раз уж разрешили писать про себя, то почему бы и не воспользоваться возможностью, правильно? Итак. Евгеша, 17 годиков, Северск. Учусь в 11 классе, веду никому не нужный канал на YouTube, периодически рисую, читаю, часто лезу в графику, иногда в 3D... Много чем занимаюсь, в той или иной степени. Хочу в Канаду.
							b С фронтендом познакомился, когда решил сделать сайт для канала (года 2-3 назад). Активно влез сюда относительно недавно. Пока стабильно сижу на джуне.
							| Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.Если вкратце, то всё.
				.block
					.block__header
						.block__icon.image
							.image__stroke
								.image__background
									img.image__picture(src=require("../images/myLogo.png"))
						h1.h1.block__title contact
						.block__decorLine
					.block__el
						.contacts
							.contacts__el.contacts__el_first(style="margin-top: 4.5rem")
								em.contacts__key Adress
								em.contacts__value Kalinina, Seversk
							.contacts__el
								em.contacts__key email
								em.contacts__value karabin.m@yandex.ru
							.contacts__el
								em.contacts__key phone
								em.contacts__value +7-952-153-84-08
							.contacts__el
								em.contacts__key website
								em.contacts__value under development
				.block
					.block__header
						.block__icon.image
							.image__stroke
								.image__background
									img.image__picture(src=require("../images/myLogo.png"))
						h1.h1.block__title skills
						.block__decorLine
					.block__el
						.rate.rate_type_dotted
							.rate__el
								h2.h2.rate__title creative
								.rate__field.rate__field_type_dotted
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted
							.rate__el
								h2.h2.rate__title teamwork
								.rate__field.rate__field_type_dotted
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted
							.rate__el
								h2.h2.rate__title innovate
								.rate__field.rate__field_type_dotted
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted
							.rate__el
								h2.h2.rate__title communication
								.rate__field.rate__field_type_dotted
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted.rate__value_done
									.rate__value.rate__value_type_dotted
									.rate__value.rate__value_type_dotted

			.wrap.wrap_width_56-5per
				.block.block_first(style="margin-top: 0")
					.block__header
						.block__icon.image
							.image__stroke
								.image__background
									img.image__picture(src=require("../images/myLogo.png"))
						h1.h1.block__title education
						.block__decorLine
					.block__el
						.list
							.list__el
								.list__markerCase
									.list__marker.list__marker_style_circle
								.list__content
									h2.list__majorTitle.listmajor
									em.list__date
									em.list__minorTitle
									p.p